@import "./colors.css";
body{
  height: 100vh;
  background-image: url(../img/museum.webp);
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: left top;
}
main{
  display: flex;
  justify-content: space-between;
}
article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 60vh;
}
nav a{
  width: 80vw;
  height: 6vh;
  position: absolute;
  bottom: 0;
  left: 0;
}